@model WebApplication5.Models.ViewModels.EditActivityViewModel

@{
    ViewData["Title"] = "Edit Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Edit Activity</h2>
        </div>
        <div class="card-body">
            <input asp-for="Id" type="hidden" />

            <div class="form-group">
                <label asp-for="Name" class="control-label">Activity Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div asp-validation-summary="All" class="text-danger mt-3"></div>
        </div>

        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
